body {
 /*  background-image:url("images/vintage-concrete.png");
   background-repeat:no-repeat; 
   background-size:cover; */
}

.navbar {
	border:.1px solid lightgrey;
}

.card {
	border: 1px solid lightgrey;
}

.cardstyle {
	margin: 20px;
}

#keren {
	height: 130px;
	width: 130px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 1px solid lightgrey;
}

a {
	color: black;
}

footer {
	background: white;
	text-align: center;
	padding: 20px;
   	bottom:0;
    font-size: 11px;
    border: 1px solid lightgrey;
}

